extends layout

block content
  h1 www.recetasparaceliacos.info
  p En breve

  if adsenseEnabled
    amp-ad(width='100vw', height='320', type='adsense', data-ad-client='ca-pub-9559827534748081', data-ad-slot='7207447509', data-auto-format='rspv', data-full-width='')
      div(overflow='')
